@using WebApplication1.ViewModels
@model EmployeeViewModel
@{
    Layout = null;

    //Employee emp = (Employee)ViewData["Employee"];
    //Employee emp = ViewBag.Employee;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyView</title>
</head>
<body>
    <div>
        <h1>你好！ @Model.UserName</h1>
        <hr />
        <h2>员工信息：</h2>
        <p>姓名：@Model.EmployeeName </p>
        <p>工资：@Model.EmployeeSalary</p>
        <p>级别：@Model.SalaryGrade</p>
    </div>
</body>
</html>